/* Calender Container*/
.bg-primary-7 {
  background: rgba(var(--white-color),.7);
}

.calender-container {
  margin: 2rem;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 3px;
}

.sub-container{
  display: flex;
  flex-direction: row;
  padding: 1rem;
  align-self: center;
}

.workout-container{
  padding: 0.2rem;
  margin-left: 1rem;
  border-radius: 3px;
  background-color: rgb(226, 194, 57);
  width: 500px;
  height: 100%;
}

.workout-sub-container{
  flex-direction: row;
}

.workout-text{
  color: black;
  text-align: left;
  font-size: 15px;
  margin: 0.25rem;
}


.workout-container pre{
  color: black;
  font-style: italic;
  font-size: 15px;
}

.workout-container header{
  font-size: 18px;
}

.stats-container{
  flex-direction: column;
  display: flex;
  width: 50%;

}

.map-container{
  padding:0.25rem;
  border-style: solid;
  border-color: black;
  border-width: medium;
  width: 85%;

}

.graph-container{
  margin: 2rem;
  margin-top: 8rem;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 3px;
}

.sub-graph-container{
  background-color: rgb(226, 194, 57);
  /* width:100%;
  height: 500px; */
}

.white-contianer{
  background-color: white;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  margin-left: 15px;
  display: flex;
}


.home-container{
  margin: 2rem;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 3px;
  color: white;

}

.title{
  font-size: 25px;
  text-align: center;
}

.user-container{
  padding: 0.2rem;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 40%;
  align-items: center;

}


.avatar-container{
  margin-top: 10px;
}

.home-text{
  margin-top: 20px;
  text-align: center;
  color: white;
  font-size: 14px;
}

.float-right{
  float: right;
}

.workout-card{
  margin-left: 20px;
}
